:root {
    --main-bg-color: #00398F;
    --button-hover: #0049b2;
    --button-border-hover: #005fe1;
    --maincard-background-color: rgba(0, 57, 143, 0.2);
    --maincard-text: #0043a2;
}

body {
    font-family: 'Koulen', cursive;
    background: #F9F9F9;
}

h2 {
    font-size: 40px;
}

.fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 {
    font-family: 'Futura PT', sans-serif;
}


@media (min-width: 576px) {
    .bg-image {
        background-image: url("../assets/tradeBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 873px;
    }
}

@media (min-width: 1400px) {
    .bg-image {
        background-image: url("../assets/tradeBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1500px;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 30px;
    }

    .fa-2xl {
        font-size: 24px !important;
    }

    .fs-5 {
        font-size: 16px;
    }
}

.border-primary {
    border-color: var(--main-bg-color) !important;
}

.border-light {
    border-color: rgba(0, 57, 143, 0.5) !important;
}

.border-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 57, 143, 0.3);
}

.btn-primary {
    color: white;
    background-color: var(--main-bg-color) !important;
    border-color: #004ab4 !important;
}

.btn-primary:hover {
    color: white;
    background-color: var(--button-hover) !important;
    border-color: var(--button-border-hover) !important;
}

.btn-link, .text-primary {
    color: var(--main-bg-color) !important;
}

.btn-link:hover {
    color: var(--button-hover);
}


.form-check-input:checked {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

.form-check-input:focus {
    border-color: var(--button-border-hover);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(104, 172, 179, 0.3);
}

.btn-danger {
    color: #DD5757;
    background-color: rgba(221, 87, 87, 0.15);
    border: 0;
}

.border-bottom {
    border-bottom: 2px solid var(--main-bg-color) !important;
}

.principle {
    font-size: 80px !important;
}

.maincard {
    background-color: var(--maincard-background-color);
}

.cardNumbers {
    font-size: 50px !important;
    color: var(--maincard-text);
}

.nav-buttons:hover {
    border-bottom: 2px solid var(--main-bg-color);
    margin-bottom: -2px;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/homepageBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 57, 143, 0.15);
    animation: animate 27s linear infinite;
}

.background li:nth-child(0) {
    left: 0%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 17%;
    width: 353px;
    height: 353px;
    bottom: -353px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 36%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 7s;
}

.background li:nth-child(3) {
    left: 43%;
    width: 243px;
    height: 243px;
    bottom: -243px;
    animation-delay: 6s;
}

.background li:nth-child(4) {
    left: 66%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 16s;
}

.background li:nth-child(5) {
    left: 40%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 24s;
}

.background li:nth-child(6) {
    left: 23%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 16s;
}

.background li:nth-child(7) {
    left: 58%;
    width: 347px;
    height: 347px;
    bottom: -347px;
    animation-delay: 20s;
}

.background li:nth-child(8) {
    left: 24%;
    width: 216px;
    height: 216px;
    bottom: -216px;
    animation-delay: 4s;
}

.background li:nth-child(9) {
    left: 41%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 24s;
}

.background li:nth-child(10) {
    left: 43%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 42s;
}

.background li:nth-child(11) {
    left: 3%;
    width: 227px;
    height: 227px;
    bottom: -227px;
    animation-delay: 19s;
}

.background li:nth-child(12) {
    left: 80%;
    width: 222px;
    height: 222px;
    bottom: -222px;
    animation-delay: 26s;
}

.background li:nth-child(13) {
    left: 1%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 29s;
}

.background li:nth-child(14) {
    left: 13%;
    width: 323px;
    height: 323px;
    bottom: -323px;
    animation-delay: 38s;
}

.background li:nth-child(15) {
    left: 42%;
    width: 362px;
    height: 362px;
    bottom: -362px;
    animation-delay: 43s;
}

.background li:nth-child(16) {
    left: 18%;
    width: 270px;
    height: 270px;
    bottom: -270px;
    animation-delay: 29s;
}

.background li:nth-child(17) {
    left: 79%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 66s;
}

.background li:nth-child(18) {
    left: 72%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 87s;
}

.bg-success {
    color: #68ACB3;
    background-color: rgba(104, 172, 179, 0.15) !important;
}
