@media (max-width: 576px) {
    img {
        height: 100px !important;
    }

    .fs-1 {
        font-size: 30px !important;
    }

    .fs-2 {
        font-size: 24px !important;
    }

    .fs-4 {
        font-size: 18px !important;
    }

    .fs-5 {
        font-size: 16px !important;
    }

    .row {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.bg-primary{
    background-color: var(--main-bg-color) !important;
}
